<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color: black;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4" style="color: rgb(161, 161, 161);">Rick and Morty</span>
    </a>
    <ul class="nav menu">
        <li class="nav-item"><a [routerLink]="['/']" class="btn btn-outline-light" style="margin-right: 20px;">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/characters']" class="btn btn-outline-light" style="margin-right: 20px;">Characters</a></li>
        <li class="nav-item"><a [routerLink]="['/about']" class="btn btn-outline-light" style="margin-right: 20px;">About</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
